@font-face {
 font-family: 'Montserrat';
 font-style: normal;
 font-weight: 400;
 src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../webfonts/montserrat-regular-webfont.woff2) format('woff2');
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
 font-family: 'Montserrat', sans-serif;
}
/* ================================================== */
/* Carousel */
.carousel-indicators {
 bottom: -13px;
 margin: 0;
}
.carousel-indicators li {
 width: 10px;
 height: 10px;
 background-color: rgba(181, 181, 181, 1)
}
.carousel-indicators .active {
 background-color: rgba(57, 57, 57, 1)
}
.carousel-control-next, .carousel-control-prev {
 width: 5%
}

/* =============================================== */
/* image category */
.image-category {
 width: 100%;
 overflow: hidden;
}
a .image-category img {
 filter: grayscale(100%);
 transition: 1s;
}
a .image-category img:hover {
 filter: none;
}

/* =============================================== */
/* about page */
div.profil h3, div.profil p.text-muted {
 margin-bottom: 0px
}
div.profil p.text.muted {
 font-size: 8px
}
div.about {
 font-size: 9px;
}
div.about p {
 margin-bottom: 5px
}

ul.list-award {
 list-style-type: none;
 font-size: 10px;
 padding: 0 15px
}

ul.list-award > li::before {
 content: '-';
 position: absolute;
 margin-left: -15px
}

/* ==================================================== */
/* Footer */
footer  address {
 font-size: 8px;
 margin-bottom: 0
}

/* ===================================================== */
/* about */
.vr {
 height: 85%;
 border-left: .3px solid darkgray;
}

/* Contact */
.table-teams img {
 padding: 0;
 width: 100%;
}

/* ===================================================== */
/* project list */
.padding-15 {
 padding: .15rem!important;
}
.post1, .post2, .post3 {
 object-fit: fill;
 height: 100%;
 overflow: hidden;
}
.caption {
 position: absolute;
 bottom: 25px;
 padding: 10px;
 background-color: rgba(255, 255, 255, .8);
}
.post2 .caption {
 bottom: 20px
}
.post3 .caption {
 bottom: 10px
}
.caption h5, .caption h6 {
 margin-bottom: 0px
}
table.detail {
 font-size: 8px;
 margin-top: 3px
}
.post3 .caption h5 {
 font-size: 14px
}
.post3 .caption h6 {
 font-size: 11px
}
.post3 .caption .detail {
 display: none
}
/* pagination project list */
.category, .paginations {
 background-color: #444444;
 padding: 0 5px;
 color: white;
 border: 1px solid black;
}
.category {
 width: 75%;
}
.paginations {
 width: 25%
}
.paginations {
 background-color: #999999;
 border-radius: 0;
 margin: 0
}
ul.paginations {
 margin: 0!important
}
.paginations a {
 color: white
}
.paginations a:hover {
 color: lightblue
}

/* ===================================================== */
/* post detail */
/* img right */
.preview {
 object-fit: fill;
 height: 450px;
 overflow: hidden;
}
.thumb {
 height: 50px
}
.thumb img {
 filter: grayscale(100);
 cursor: pointer;
 transition: .5s;
}
.thumb img:hover {
 filter: none;
}
.thumb img.selected {
 filter: none;
}
/* text left */
div.details {
 font-size: 10px;
 margin-bottom: 5px
}
div.article {
 font-size: 10px
}

/* ===================================================== */
/* Responsive */
@media screen and (max-width : 425px) {
 footer address {
  display: none
 }
}

@media screen and (max-width : 1440px) {
 
}

.custom-control-inline {
 margin-right: 0;
}
